[submodule "libraries/SDL2"]
	path = libraries/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "libraries/SDL_image"]
	path = libraries/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "libraries/SDL_mixer"]
	path = libraries/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "libraries/SDL_ttf"]
	path = libraries/SDL_ttf
	url = https://github.com/Buracisko/SDL_ttf.git
